:root {
  --white: rgb(255, 255, 255);
  --lightest-gray: rgb(223, 223, 223);
  --light-gray: rgb(191, 191, 191);
  --lightish-gray: rgb(159, 159, 159);
  --gray: rgb(127, 127, 127);
  --darkish-gray: rgb(95, 95, 95);
  --dark-gray: rgb(63, 63, 63);
  --darkest-gray: rgb(31, 31, 31);
  --black: rgb(0, 0, 0);

  --gamedesign-color: rgb(255, 191, 225);
  --programming-color: rgb(159, 127, 223);
  --composing-color: rgb(255, 240, 127);
  --art-color: rgb(172, 255, 127);
}

body {
  text-align: center;
  font-family: "Palatino Linotype", 'Times New Roman', Times, serif;
  color: var(--lightest-gray);
  background-color: var(--dark-gray);
}

h1 {
  font-weight: normal;
  font-size: 7.8em;
  text-align: center;
  margin: 0;
  padding: 0;
  color: var(--white);
}

.intro {
  font-size: 2.1em;
  padding: 0 0 0.8em 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.intro p {
  margin: 0;
  padding: 0;
  max-width: 800px
}

#role-choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.role-choice {
  margin: 0.2em;
  padding: 0.5em;  
  font-size: 1.85em;

  border-radius: 0.9em;
  /* the following defaults will only show at the beginning */
  background-color: var(--light-gray);
  color: var(--dark-gray);
  opacity: 0.25;
  border: 0.07em solid var(--dark-gray);
  
  --transition-time: 0.3s;
  transition:
    transform var(--transition-time) ease,
    background-color var(--transition-time) ease,
    color var(--transition-time) ease,
    opacity var(--transition-time) ease,
    border var(--transition-time) ease;
}

.role-choice p {
  white-space: nowrap;
  margin: 0;
  user-select: none;
}

.role-choice.none-selected {
  background-color: var(--white);
  color: var(--darkest-gray);
  opacity: 0.8;
}

.role-choice.gamedesign.none-selected {
  border: 0.07em solid var(--gamedesign-color);
}

.role-choice.programming.none-selected {
  border: 0.07em solid var(--programming-color);
}

.role-choice.composing.none-selected {
  border: 0.07em solid var(--composing-color);
}

.role-choice.art.none-selected {
  border: 0.07em solid var(--art-color);
}

.role-choice.spotlighted {
  color: var(--darkest-gray);
  opacity: 1;
}

.role-choice.gamedesign.spotlighted {
  background-color: var(--gamedesign-color);
}

.role-choice.programming.spotlighted {
  background-color: var(--programming-color);
}

.role-choice.composing.spotlighted {
  background-color: var(--composing-color);
}

.role-choice.art.spotlighted {
  background-color: var(--art-color);
}

.role-choice:hover {
  cursor: pointer;
  transform: scale(1.04) translate(0, -0.1em);
  opacity: 1;
}

#projects-container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project-card:hover {
  cursor: pointer;
  transform: scale(1.04) translate(0, -0.1em);
  opacity: 1;
}

.project-card {
  position: relative;
  margin: 2em;
  opacity: 0.9;

  width: 390px;
  height: 390px;
  font-size: 0.94em;

  --transition-time: 0.3s;
  transition:
    transform var(--transition-time) ease,
    opacity var(--transition-time) ease;
}

.role-icons {
  /* background-color: rgb(113, 52, 88); */
  display: flex;
  width: 58%;

  display: flex;
  justify-content: flex-end;
  flex-direction: row; 

  position: absolute;
  right: 7%;
  top: -6.3%;
  font-size: 1.7em; 
}

.role-icons p {
  font-size: 1em;
  background-color: rgb(249, 249, 249);
  padding: 0.3em;
  margin: 0.15em;
  border-radius: 3em;
  user-select: none;
}

.project-card-content {
  background-color: rgb(255, 255, 255);

  width: 100%;
  height: 100%;

  padding: 0;  
  overflow: hidden;

  border-radius: 3em;
  /* the following defaults will only show at the beginning */
  border: 0.2em solid var(--white);

  display: flex;
  justify-content: space-between;
  flex-direction: column; 
  align-items: center;
}

.project-card-content .image-text-content {
  /* background-color: rgb(86, 82, 45); */
  margin: 0;
  height: 90%;
  width: 100%;
}

.project-card-content .image-content {
  margin: 0;
  height: 57%;
  width: 100%;
}

.project-card-content img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.project-card-content h2 {
  /* background-color: orange; */
  margin: 1%;
  padding: 0;
  color: var(--darkest-gray);
  
  font-size: 2em;

  text-align: left;
  font-weight: bold;
  /* font-style: italic; */
}

.project-card-content p {
  /* background-color: purple; */
  margin: 1%;
  padding: 0;
  color: var(--darkest-gray);
  text-align: justify;
  text-align: justify;
}

.skills-content {
  /* background-color: blanchedalmond; */
  margin: 0;
  padding: 0%;
  height: 10%;
  width: 90%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
}

.skill-bubble {
  background-color: var(--dark-gray);
  border-radius: 5em;

  margin: 0.2em;
  padding: 0.2em 0.7em;
  font-family: 'Courier New', Courier, monospace;
}

.hidden {
  display: none;
}

/*default (for infinite wide down to 1401px)

  h1 {
    font-size: 7.8em;
  }
  .intro {
    font-size: 2.1em;
  }
  .role-choice {
    font-size: 1.85em;
  }
  .project-card {
    width: 390px;
    height: 390px;
    font-size: 0.94em;
  }

*/

/* for 1400px wide down to 1201px */
@media (max-width: 1400px) {
  h1 {
    font-size: calc(7.8em * 6/7);
  }
  
  .intro {
    font-size: calc(2.1em * 6/7);
  }
  
  .role-choice {
    font-size: calc(1.85em * 6/7);
  }
  
  .project-card {
    width: calc(390px * 6/7);
    height: calc(390px * 6/7);
    font-size: calc(0.94em * 6/7);
  }
  
}

/* for 1200px wide down to 1001px */
@media (max-width: 1200px) {
  h1 {
    font-size: calc(7.8em * 5/7);
  }
  
  .intro {
    font-size: calc(2.1em * 5/7);
  }
  
  .role-choice {
    font-size: calc(1.85em * 5/7);
  }
  
  .project-card {
    width: calc(390px * 5/7);
    height: calc(390px * 5/7);
    font-size: calc(0.94em * 5/7);
  }
  
}

/* for 1000px wide down to 801px */
@media (max-width: 1000px) {
  h1 {
    font-size: calc(7.8em * 4/7);
  }
  
  .intro {
    font-size: calc(2.1em * 4/7);
  }
  
  .role-choice {
    font-size: calc(1.85em * 4/7);
  }
  
  .project-card {
    width: calc(390px * 0.85);
    height: calc(390px * 0.85);
    font-size: calc(0.94em * 0.85);
  }
  
}

/* for 800px wide down to 601px */
@media (max-width: 800px) {
  h1 {
    font-size: calc(7.8em * 3/7);
  }
  
  .intro {
    font-size: calc(2.1em * 3/7);
  }
  
  .role-choice {
    font-size: calc(1.85em * 3/7);
  }
  
  .project-card {
    width: calc(390px * 0.64);
    height: calc(390px * 0.64);
    font-size: calc(0.94em * 0.64);
  }
  
}

/* for 600px wide down to 401px */
@media (max-width: 600px) {
  h1 {
    font-size: calc(7.8em * 0.35);
  }
  
  .intro {
    font-size: calc(2.1em * 0.45);
  }

  .role-choice {
    font-size: calc(1.85em * 0.58);
  }
  
  .project-card {
    width: calc(390px * 0.8);
    height: calc(390px * 0.8);
    font-size: calc(0.94em * 0.8);
  }
}

/* for 401px wide down to 320px */
@media (max-width: 400px) {
  h1 {
    font-size: calc(7.8em * 0.35 * 0.8);
  }
  
  .intro {
    font-size: calc(2.1em * 0.45 * 0.8);
  }

  .role-choice {
    font-size: calc(1.85em * 0.49);
  }
  
  .project-card {
    width: calc(390px * 0.67);
    height: calc(390px * 0.67);
    font-size: calc(0.94em * 0.67);
  }
}

/* @media (max-width: 1023px) {
  h1 {
    font-size: 2.9em;
  }
  .intro {
    font-size: 1em;
  }
  .role-choice {
    font-size: 1em;
  }
  .project-card {
    width: 320px;
    height: 320px;
    font-size: 0.8em;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
  }
  .intro {
    font-size: 0.8em;
  }
  .role-choice {
    font-size: 1em;
  }
  .project-card {
    width: 252px;
    height: 252px;
    font-size: 0.6em;
  }
} */